# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE stuff
/.idea
/.vscode

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.venv
venv/


