 * {
    box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  flex-direction: row;
  margin: 0;
  font-family: 'Press Start 2P', cursive;
}

a {
  color: #F03D40;
  text-decoration-line: underline;
}

a:hover {
  padding: 3px 0 3px 0 ;
  text-decoration: none;
  background: #F03D40;
  color: #282828;
  box-shadow: 1.1px 1.1px 15px #f04948, 0 0 1.1px #f26060
}

.col-1 {
  display: flex;
  flex-direction: column;
  flex: 5;
  background: #19191A;
}

.col-2 {
  width: 300px;
  min-width: 300px;
  background-color: #282828;
  border: 5px solid #826ed5;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > .result {
  flex: 4;
  min-height: 95vh;
}

  @keyframes slidein {
    from {
      background-color: #fff;
      box-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
    }
    to {
      background-color: #282828;
      box-shadow: none;
    }
  }
  @keyframes pulse {
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
  }

.filerName {
  padding-left: 5px;
  text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
  animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;
  color:#fff;
 }
.filterWrapper {
  padding: 20px 5px 20px 5px;
}

.sliderWrapper  {
 display: flex;
 flex-wrap: nowrap;
 align-content: center;
 color: white;
 padding: .2em;
}
.slider{
 flex-basis: 80%;
}

.filterValue {
 flex-basis: 20%;
 text-align: center;
 padding-top: 5px;
 border: 2px solid #000;
 text-shadow: 3px 2px 2px rgba(251, 12, 12,1), 0px -1px 3px rgba(12, 79, 251,.5),-3px 0px 2px rgba(52, 251, 12, 1);
 animation: chromaticMove 4500ms ease infinite,pulse ease 200ms  infinite;
 color:#fff;
 background: #F03D40;
 box-shadow: 1.1px 1.1px 15px #f04948, 0 0 1.1px #f26060;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > :nth-child(even) {
  background: #3d3d3d;
}
